In [1]:
# import data
from data import Data



data = Data("data/sampledata.csv")
data.clean_data()

In [2]:
data.data

    session_id  time  acc_x  acc_y  acc_z  fall
0            1     0  0.001  0.002  0.003     0
1            1     1  0.004  0.005  0.006     0
2            1     2  0.007  0.008  0.009     0
3            1     3  0.010  0.011  0.012     0
4            1     4  0.013  0.014  0.015     0
5            2     0  0.001  0.002  0.003     0
6            2     1  0.004  0.005  0.006     0
7            2     2  0.007  0.008  0.009     0
8            2     3  0.010  0.011  0.012     0
9            2     4  0.013  0.014  0.015     1
10           3     0  0.001  0.002  0.003     0
11           3     1  0.004  0.005  0.006     0
12           3     2  0.007  0.008  0.009     0
13           3     3  0.010  0.011  0.012     0
14           3     4  0.013  0.014  0.015     0